<div class="page-header">
  <h1>
    d3
    <small>Examples</small>
  </h1>
</div>
<div class="row">
  <div class="span4">
    <h4>Clock Radial Bar</h4>
    <a href="clock">
      <img src="/static/img/clock.png" />
    </a>
  </div>
  <div class="span4">
    <h4>Calendar Heat Map</h4>
    <a href="">
      <img src="http://placehold.it/350x300" />
    </a>
  </div>
  <div class="span4">
    <h4>Barchart</h4>
    <a href="bar">
      <img src="/static/img/bar.png" />
    </a>
  </div>
  <div class="span4">
    <h4>AJAX Data</h4>
    <a href="loader">
      <img src="/static/img/bar_update.png" />
    </a>
  </div>
  <div class="span4">
    <h4>Other</h4>
    <a href="">
      <img src="http://placehold.it/350x300" />
    </a>
  </div>


</div>
